body{
    background-color: rgba(12, 11, 11, 0.918);
}

.news-row{
    border: 3px solid black;
    margin: 1%;
    padding-left: 1%;
    min-width: 47%;
    text-align: left;
    background-color: rgba(12, 11, 11, 0.863);
    color: white;
}

.container-2{
    border: 3px solid black;
    margin: 1%;
    padding-left: 1%;
    min-width: 47%;
    text-align: left;
    background-color: rgba(12, 11, 11, 0.863);
    color: white;
}
.homepage{
    display: flex;
}